@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  transition: background 1s ease;
}

/* navbar */
.navbar ul {
  list-style-type: none;
  margin: 0;
  top: 0;
  padding: 5px 10%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: #e6e2dd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar ul > li > a:hover,
.navbar ul > li > a:active,
.navbar ul > li > a:focus {
  color: #e6e2dd;
  border: 1px solid #e6e2dd;
}

.navbar ul li a {
  font-size: 1em;
  text-transform: lowercase;
  margin: 10px 5px 5px 5px;
  border-radius: 5px;
}

/*       */
/* main page */

.namepage {
  margin-top: 400px;
  text-align: center;
  display: block;
}

h1 {
  font-size: 50px;
  color: #373a36;
}

.text {
  font-size: 30px;
  margin-top: 20px;
  color: #373a36;
}

.scrollIcon {
  margin-top: 100px;
  font-size: 1.5em;
  padding: 10px;
  border: solid 2px #373a36;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
.scrollIcon1 {
  margin-top: 20px;
  font-size: 1.5em;
  padding: 10px;
  border: solid 2px #d48166;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.scrollIcon img {
  width: 21px;
  height: 21px;
}

.orange {
  color: #d48166;
}

.white {
  color: #e6e2dd;
}

.black {
  color: #373a36;
}

.abouttext {
  margin-top: 400px;
  position: relative;
  right: 70px;
  height: 300px;
}

.aboutme {
  position: relative;
}
.aboutme img {
  margin-top: 400px;
  height: 125px;
  width: 125px;
  border-radius: 50%;
}

.aboutme p {
  margin-top: 25px;
  font-size: 17px;
  text-align: justify;
  text-align: center;
  width: 500px;
}
.checkprojects p {
  margin-top: 10px;
  font-size: 20px;
  color: #d48166;
}

.abouttext p {
  font-size: 35px;
  font-weight: bold;
}

.lefttools {
  margin-left: 60px;
  margin-top: 30px;
  color: #d48166;
  font-size: 25px;
  position: absolute;
}

.righttools {
  margin-top: 30px;
  color: #d48166;
  font-size: 25px;
  position: absolute;
  right: 30px;
}

.lefttools li {
  list-style: none;
  margin-top: 10px;
}

.righttools li {
  list-style: none;
  margin-top: 10px;
}
.rightprojects,
.leftprojects {
  height: 0;
}

.site1 {
  margin-top: 1px;
  position: relative;
}
.site1info {
  display: inline-block;
  height: 200px;
  width: 200px;
  text-align: center;
}
.site1 h3 {
  font-size: 20px;
  color: #373a36;
  margin-bottom: 40px;
}
.site1 a {
  text-decoration: none;
  color: #373a36;
  padding: 8px 10px;
  border: 1px solid #373a36;
  border-radius: 5px;
}

.site1 a:hover,
.site1 a:active,
.site1 a:focus {
  color: #e6e2dd;
  background-color: #373a36;
}

.site1 p {
  font-size: 15px;
  color: #e6e2dd;
  height: 70px;
  text-align: justify;
  text-align: center;
}
.site1 img {
  margin-top: 300px;
  height: 200px;
  width: 300px;
  border: 10px solid #373a36;
  display: inline-block;
}
.site2 {
  position: relative;
}
.site2info {
  display: inline-block;
  height: 200px;
  width: 200px;
  text-align: center;
}
.site2 h3 {
  font-size: 20px;
  color: #373a36;
  margin-bottom: 40px;
}
.site2 a {
  text-decoration: none;
  color: #373a36;
  padding: 8px 10px;
  border: 1px solid #373a36;
  border-radius: 5px;
}

.site2 a:hover,
.site2 a:active,
.site2 a:focus {
  color: #e6e2dd;
  background-color: #373a36;
}

.site2 p {
  font-size: 15px;
  color: #e6e2dd;
  height: 70px;
  text-align: justify;
  text-align: center;
}

.site2 img {
  margin-top: 200px;
  height: 200px;
  width: 300px;
  border: 10px solid #373a36;
}

.site3 {
  position: relative;
  margin-top: 100px;
}
.site3info {
  margin-top: 180px;
  float: right;
  height: 200px;
  width: 200px;
  text-align: center;
}
.site3 h3 {
  font-size: 20px;
  color: #373a36;
  margin-bottom: 40px;
}
.site3 a {
  text-decoration: none;
  color: #373a36;
  padding: 8px 10px;
  border: 1px solid #373a36;
  border-radius: 5px;
}

.site3 a:hover,
.site3 a:active,
.site3 a:focus {
  color: #e6e2dd;
  background-color: #373a36;
}

.site3 p {
  font-size: 15px;
  color: #e6e2dd;
  height: 70px;
  text-align: justify;
  text-align: center;
}
.site3 img {
  margin-top: 200px;
  height: 200px;
  width: 300px;
  border: 10px solid #373a36;
}

.site4info {
  margin-top: 180px;
  float: right;
  height: 200px;
  width: 200px;
  text-align: center;
}
.site4 h3 {
  font-size: 20px;
  color: #373a36;
  margin-bottom: 40px;
}
.site4 a {
  text-decoration: none;
  color: #373a36;
  padding: 8px 10px;
  border: 1px solid #373a36;
  border-radius: 5px;
}

.site4 a:hover,
.site4 a:active,
.site4 a:focus {
  color: #e6e2dd;
  background-color: #373a36;
}

.site4 p {
  font-size: 15px;
  color: #e6e2dd;
  height: 70px;
  text-align: justify;
  text-align: center;
}
.site4 img {
  margin-top: 200px;
  height: 200px;
  width: 300px;
  border: 10px solid #373a36;
}
.mail {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  margin-top: 400px;
  color: #e6e2dd;
  display: block;
}
.mail a {
  text-decoration: none;
  color: #e6e2dd;
}
.mail a:hover,
.mail a:active,
.mail a:focus {
  color: #d48166;
}
.others {
  position: absolute;
  margin-top: 600px;
}
.others p {
  font-size: 30px;
  color: #d48166;
  text-align: center;
}
.others ul {
  list-style-type: none;
  width: 100%;
}

.others li {
  float: right;
}
.others li a {
  display: block;
  color: #e6e2dd;
  padding: 50px 70px;
  text-decoration: none;
  font-size: 25px;
}
.others ul > li > a:hover,
.others ul > li > a:active,
.others ul > li > a:focus {
  color: #d48166;
}
/*             */
/* changement de couleur */
.panel {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
}

/* colours */
.color-orange {
  background-color: #d48166;
}

.color-black {
  background-color: #373a36;
}

/*        */
#about h2 {
  color: #d48166;
  font-size: 40px;
  margin-top: 100px;
  position: absolute;
}
#portfolio h2 {
  color: #373a36;
  font-size: 40px;
  margin-top: 100px;
  position: absolute;
}

#contact h2 {
  color: #d48166;
  font-size: 40px;
  margin-top: 100px;
  position: absolute;
}

/*                         */
@media screen and (max-width: 768px) {
  .panel {
    width: 500px;
  }
  h1 {
    font-size: 30px;
    color: #373a36;
  }
  .navbar li {
    margin-right: 30px;
  }
  .panel {
    min-height: 150vh;
    display: flex;
    justify-content: space-around;
  }
  .abouttext {
    position: relative;
    display: inline-block;
    margin-left: 100px;
    margin-top: 300px;
  }
  .abouttext p {
    margin-left: 20px;
    text-align: center;
    font-size: 30px;
  }
  .aboutme {
    position: absolute;
    display: inline-block;
    margin-top: 250px;
  }
  .site1 img,
  .site2 img,
  .site3 img,
  .site4 img {
    display: none;
  }
  .site1info {
    margin-top: 280px;
  }
  .site2info {
    margin-top: 160px;
  }
  .navbar ul li a {
    text-align: center;
    margin: 0px;
  }
}
